@font-face {
    font-family: 'studio';
    src: url(fonts/Studio.woff);
}
@font-face {
    font-family: 'khorshid';
    src: url(fonts/khorshid\ .woff);
}
@font-face {
    font-family: 'iranyekan';
    src: url(fonts/iranyekan.woff);
}
@font-face {
    font-family: 'aviny';
    src: url(fonts/4.woff);
}
@font-face {
    font-family: 'colack';
    src: url(fonts/AnyConv.com__Colak\ [@ClubEdits].woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --p-color:#5864FF;
    --white:#fff;
    --y-color:#FDD446;
    --h-color:#162447;
    --p-color:#555F76;
}


body{
    height: 500vh;
}

h1,h2,h3{
    color: var(--h-color);
}
p{
    color: var(--p-color);
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

/* page 1 */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    direction: rtl;
    align-items: center;
    position: absolute;
    top: 0;
    height: 5rem;
    justify-content: space-around;

}

.none{
    display: none;
}

.logo{
    width: 100%;
    height: 100px;
    margin-top: 2rem;

}
.menu , .hamb-menu{
    display: none;
}

.nav-item{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item li a{
    text-decoration: none;
    font-family: 'aviny',sans-serif;
    font-size: 1.8rem;
    color: var(--white);
    position: relative;
}

.nav-item li{
    overflow: hidden;
}

.nav-item li a::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--y-color);
    border-radius: 2.5rem;
    position: absolute;
    bottom: 0;
    transform: translateX(-105%);
    transition: all 0.5s ease;
}
.nav-item li a:hover::before{
    transform: translateX(0);
}
.sticky{
    position: fixed;
    background-color: rgba(255,255,255,.8);
    backdrop-filter: blur(5px);
    width: 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

.sticky .nav-item li a{
    color: #162447;
}
.page1{
    background-image: url(img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: 1330px; */
    height: 100vh;
    display: flex;
    justify-content: center;

}
.content-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.content{
    margin: auto;
}

.content h1{
    color: var(--white);
    font-family: 'colack';
    line-height: 7rem;
}

.content p{
    font-family: 'iranyekan',sans-serif;
    color: var(--white);
    margin: 3rem 0 2rem ;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.btn{
    padding: 1rem 3rem;
    background:0 ;
    border: 3px solid var(--white);
    border-radius: 50px;
}

.btn-start{
    margin-top: 3rem;
    float: left;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.btn a{
    text-decoration: none;
    color: var(--white);
    font-family: 'studio';
    font-size: 1.5rem;
}

.circle{
    background-color: rgba(255,255,255,.1);
    width: 1px;
    height: 1px;
    border-radius: 100%;
    position: absolute;
    z-index: -100;
    top: 50%;
    right: 50%;
    transform: scale(0 );
    pointer-events: none; 
    transition: all 0.5s;
}
.btn:hover .circle{
    transform: scale(200);
}
/* page2 */
.page2{
    height: 50vh;
}
.mored-ha{
    display: flex;
    gap: 5rem;
}
@media screen and (max-width:1420px) {
    .nav .nav-item li a{
        font-size: 1.5rem;
    }
    .btn{
        padding: 1rem 2rem;
    }
    .logo{
        height: 80px;
    }
    h1{
        font-size: 4rem;
    }
    .content p{
        font-size: 1rem;
    }
    .image{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .content-img{
        display: flex;
        flex-direction: column;
        padding-top: 10rem;
    }
    .nav{
        justify-content: space-between;
        padding: 0 2rem;
    }
    .btn-start{
        float: none;
        margin-top: 1rem;
    }
    .nav-item{
        flex-direction: column;
        gap: 0;
        background-color: #fff;
        width: 90%;
        position: absolute;
        top: 100%;
        left: 5%;
        padding: 0 2rem;
        max-height:0 ;
        transition: max-height .2s ease;
    }
    .nav-item li a{
        color: var(--h-color);
    }
    .hamb-menu{
        display: flex;
        flex-direction: column;
    }
    .line{
        position: relative;
        margin-bottom: 10px;
    }
    .line::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        background-color: var(--white);
    }
    .nav input{
        display: none;
    }
    .phone-menu{
        display: block;
    }

    .menu:checked ~ .nav-item{
        max-height: 300%;
     }   
     
     .nav-item li a::before{
        bottom: 0;
        width: 100%;
        transform: translateX(105%);
     }
     .nav-item li .first-li::before
}

@media screen and (max-width:480px){
    h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 0.8rem;
    }
    .btn-start{
        margin-top: 0;
    }
    .content{
        margin-top: 0;
    }
}